<footer>
    <img class="footer-img" src="/images/section1_1582448589.png" alt="footer-img" />
        <p>Bitmine platform is at your service with its user-friendly features, secure infrastructure and applications that make a difference.</p>
        <span>&copy; All right reserved 2022.</span>
        <span>Bitmine - The easiest place to invest bitcoin..</span>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script src="/jscript/index.js"></script>
  </body>
</html>
