<%- include("partials/sign-header"); -%>

    <main>
        <div class="header">
            <h1>reset password</h1>
            <p>Start bitcoin mining today</p>
        </div>
        <form action="/register" method="post">
            <p>Recover your account</p>
            <div class="form">
                <div class="input">
                <span class="material-symbols-sharp">mail</span><input type="email" name="email" id="email" />
                </div>
                <button type="submit">Proceed</button>
            </div>
            <div class="a-tags">
                <a href="/login">Login</a> <a href="/register">Create new account</a>
            </div>
        </form>
    </main>

    <%- include("partials/sign-footer"); -%>